<link rel="stylesheet" href="styles/booking.css" />

<div md-colors="{color:'white'}" class="row" ng-init="$root.showNavBar=true">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="form-container">
            <div class="page-header text-center">
                <h2>Happy Journey</h2>
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".chooseFlight">
                        <span>1</span> flight</a>
                    <a ui-sref-active="active" ui-sref=".seatType">
                        <span>2</span> seat Type</a>
                    <a ui-sref-active="active" ui-sref=".mealsRequired">
                        <span>3</span> meals</a>
                    <a ui-sref-active="active" ui-sref=".seatCount">
                        <span>4</span> seat count</a>
                </div>
            </div>
            <form id="signup-form" ng-submit="bookTickets()" onload=".chooseFlight" ng-controller="bookingController">
                <div id="form-views" ui-view></div>
            </form>
        </div>
    </div>
</div>