<md-dialog aria-label="Booking Successfull">
  <form ng-cloak>
    <!-- <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Booking Successfull</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()"> -->
    <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
    <!-- X
        </md-button>
      </div>
    </md-toolbar> -->

    <md-dialog-content>
      <div class="md-dialog-content alert alert-success">
      
        <!-- <div class="container item" style="width: 100%;" >
          <div class="bp-card" data-clickthrough="link">
            <div class="bp-card_label">
              <div class="bd-border_solid"></div>
              <div class="bd-border_dotted"></div>

            </div>
            <div class="bp-card_content" style="background: #f0f0f0">
              <p class="secondary">{{bookingClass}} Class</p>
              <h4>{{bookingFlight}}</h4>
              <ul>
                <span>Seats : {{bookedSeatList}} </span>
                <a href="" class="price">
                  ₹ {{bookingPrice}}
                </a>
            </div>
          </div>

        </div> -->

          <h4 class="alert-heading">Well done!</h4>
          <p>Aww yeah, you successfully booked the tickets.</p>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="bookAnother()">
        Book Again
      </md-button>
      <md-button ng-click="viewSummary()">
        View Summary
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>