<link rel="stylesheet" href="styles/ticket.css" />

<div ng-controller="summaryController">
  <div layout="column" layout-align="center center" style="padding:40px" ng-cloak="">
    <p>Choose a flight to see it's bookings</p>
    <div layout="column" layout-align="center center">
      <md-select placeholder="Flight" ng-model="selectedFlight" md-on-open="getFlights()" ng-change="getBookings()" style="min-width: 200px;">
        <md-option ng-value="flight" ng-repeat="flight in flights">{{flight.flight_name}}</md-option>
      </md-select>
    </div>
  </div>

  <div ng-repeat="booking in bookings" class="summary">
    <div class="container item">
      <div class="bp-card" data-clickthrough="link">
        <div class="bp-card_label"> 
          <div class="bd-border_solid"></div>
          <div class="bd-border_dotted"></div>
        </div>
        <div class="bp-card_content">
          <p class="secondary">{{booking.seatType == 0 ? "Business Class" : "Economy Class"}}</p>
          <h4>{{selectedFlight.flight_name}}</h4>
          <img class="Meal" src="https://icon-icons.com/icons2/1151/PNG/48/1486505264-food-fork-kitchen-knife-meanns-restaurant_81404.png"
            alt="(M)" ng-show="booking.isMealsRequired" />
          <ul>
            <span>Seats : {{booking.seats}} </span>
            <a href="" class="price">
              ₹ {{booking.bookingCharges}}
            </a>
            <button class="button buttonRed cancel" ng-click="cancelBooking(booking.bookingId)" ng-hide="booking.isCancelled"> cancel </button>
        </div>
      </div>
    </div>
  </div>

</div>