<div class="jumbotron text-center">
    <h1>Am Flights</h1>
    <p>Bookings made simple.</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Why Am Flights </h3>
			<p>Lorem ipsum dolor..</p>
			<p>Ut enim ad..</p>
		</div>
		<div class="col-sm-4">
			<h3>Customer Feedbacks</h3>
			<p>Lorem ipsum dolor..</p>
			<p>Ut enim ad..</p>
		</div>
		<div class="col-sm-4">
			<h3>Case Study</h3>
			<p>Lorem ipsum dolor..</p>
			<p>Ut enim ad..</p>
		</div>
	</div>
</div>