<label>Do you want meal?</label>
<div class="form-group">
    <md-radio-group ng-model="booking.mealsRequired">
        <md-radio-button value="yes" class="md-primary my-class">Yes</md-radio-button>
        <md-radio-button value="no"> No </md-radio-button>
    </md-radio-group>
</div>
</div>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="booking.seatCount" class="btn btn-block btn-info">
            Next Section
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>