<!DOCTYPE html>
<html>

<head> 
	<title>Am Flights</title>
	<meta charset="UTF-8" />

	<script src="res/lib/angular.js"></script>
	<script src="res/lib/angular-animate.min.js"></script>
	<script src="res/lib/angular-messages.min.js"></script>
	<script src="res/lib/angular-material.js"></script>
	<script src="res/lib/angular-ui-router.min.js"></script>
	<script src="res/lib/angular-aria.min.js"></script>

	<link rel="stylesheet" href="res/lib/angular-material.css" />

	<link rel="stylesheet" href="res/lib/bootstrap.min.css">
	<script src="res/lib/jquery.min.js"></script>
	<script src="res/lib/bootstrap.min.js"></script>

	<script src="scripts/app/app.js"></script>
	<script src="scripts/app/config.js"></script>
	<script src="scripts/app/controllers/mainController.js"></script>
	<script src="scripts/app/controllers/loginController.js"></script>
	<script src="scripts/app/controllers/bookingController.js"></script>
	<script src="scripts/app/controllers/summaryController.js"></script>

	<script src="scripts/app/services/flightService.js"></script>


</head>

<body ng-app="amFlights">

	<div ng-show="showNavBar" ng-controller="mainController">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Home</a>
				</div>
				<ul class="nav navbar-nav">
					<li ng-repeat="menu in menuItems">
						<a ui-sref="{{menu.link}}"> {{menu.name}} </a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a ng-show="isUserLoggedIn" ><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
					<li><a ng-show="isUserLoggedIn" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

					<li><a href="#" ng-show="!isUserLoggedIn" ng-click="login()"  ><span class="glyphicon glyphicon-log-in" ng-show></span> Login</a></li>
				  </ul>
			</div>
		</nav>
	</div>


	<div ui-view></div>

</body>

</html>