<md-dialog aria-label="Booking Successfull">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content alert alert-success">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully booked the tickets.</p>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="bookAnother()">
        Book Again
      </md-button>
      <md-button ng-click="viewSummary()">
        View Summary
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>